* {
    margin: 0;
    padding: 0;
    font-family: 'Aldrich',Helvetica,Arial,Lucida,sans-serif;
}

.header-div .section0 .section1 .section2{
    width: 100%;
    background-color: white;
}

.section0, .section1, .section2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section1 a {
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.7em;
    color: #000000;
}

.section2 {
    text-decoration: underline;
    color: rgb(102, 102, 102);
    line-height: 1.7em;
    font-weight: 500;
    padding-bottom: 5%;
}

.header-div .menu {
    display: none;
}

.menu {
    list-style-type: none;
}

.menu a, .burger-menu a {
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    color: #000000;
}

.menu-item {
    padding: 1em;
    font-size: 14px;
}

.burger .hamburger-menu {
    display: block;
    margin: 0 auto;
}

.hamburger-menu {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
}

.hamburger-menu .bar {
    height: 2px;
    background: black;
    border-radius: 4px;
    margin: 15% 0;
}

.burger-menu {
    list-style-type: none;
    text-align: left;
    padding: 5%;
    border-top: 1px solid rgb(32, 145, 7);
    width: 70%;
    margin: 0 auto;
}

.burger .burger-menu {
    display: none;
}

.burger:hover > .burger-menu {
    display: block;
}

.burger-menu-item {
    padding: 0.5em;
    font-size: 12px;
}

li a.active {
    color: rgb(32, 145, 7);
}

li a.active a.potential {
    color: rgb(86, 145, 73);
}

li a.potential {
    color: rgb(102, 102, 102);
}


@media (width > 750px) {
    .header-div .menu {
        display: flex;
        justify-content: center;
    }

    .burger {
        display: none;
    }

    .burger-menu {
        display: none;
    }
}
